body {
  background-color:#cee4db;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* *{
  background-color:white;
} */
 .container{
  min-height: 100vh;
  display: flex;
 flex-direction: column; 
  align-items: center;    
  /* justify-content: center */
 }
 .container img{
  margin-left: 1200px;
  height: 20px;
  width: 100px;
  margin-top: 10px;
 }
.Login{
  /* margin-top: 70px; */
  height: 300px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap:15px;
  align-items:center;
  /* justify-content: center; */
  margin: 3rem 3.5rem;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 10px;
  background-color:rgb(207, 203, 206);
  border: 1px rgb(12, 12, 12);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgb(12, 12, 12);
  
}
button:hover{
  background-color: black;
  color: white;
}
#title{
  margin-top: 50px;
  font-size: 30px;
  height: 70px;
  width:800px;
  display: flex;
  padding-left:15rem;
  padding-top: 40px;
  text-align: center;
  font-family: Georgia,'Times New Roman', Times, serif;
}
#form-title{
  margin-top:0px;
  /*font-size: 20px;*/
  display: flex;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
.message {
  visibility: hidden;   
  height: 0;            
  margin: 0;
  color: red;
  font-size: 14px;
}

.message.show {
  visibility: visible;
  height: auto;
  margin-top: 5px;
}
.username,.password{
  display:flex;
  align-items: center;
  height: 40px;
  padding: 40px auto;
}
#username{
  padding-left: 5px;
}
#login{
  height: 35px;
  width: 250px;
  background-color: rgb(235, 239, 241);
 color:rgb(14, 13, 13);
 border-radius: 10px;
}
#register{
  height: 35px;
  width: 400px;
  background-color: rgb(235, 239, 241);
 color:rgb(14, 13, 13);
}
#login:hover,#register:hover{
  background-color: rgb(120, 102, 138);
}
.Login label{
padding-right: 6px;
width: 100px;
}
.Login input{
  height: 25px;
  width: max-content;
  border-radius: 5px;
}
/* Student profile */
.Student-profile {
  display: flex;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}
.sidebar {
  width: 450px;
  background-color: #686872;
  /* background-color: #124B84; */
  color: #ecf0f1;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}
.sidebar h2 {
  font-size: 26px;
  margin-bottom: 30px;
  margin-left: 0;
  text-align: left;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 12px 15px;
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid #f3efef; 
  background-color: #b8e2e4;
  border-radius: 15px;
  transition: background-color 0.3s;
}

.sidebar ul li:hover {
  background-color: #34495e;
}

.sidebar ul li.active {
  background-color: #1abc9c;
  color: white;
}
.main-area {
  flex: 1;
  /* height: 300px; */
  background-color:#ced0d3;;
  /* padding: 1px; */
  border:2px solid rgb(146, 129, 161);
}

/* Optional: Make table inside main-content look nicer */
.main-area table {
  width: 100%;
  border-collapse: collapse;
}

.main-area th,
.main-area td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}
.main-area th {
  background-color: #1abc9c;
  color: white;
}
.main-area tr:nth-child(even) {
  background-color: #f2f2f2;
}
/* Profile */
.Profile{
  width: 100%;
  height: 100vh;
  min-height: 200px; 
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  background-color: #ced0d3;
}
.profile-title {
  width: 350px;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 25px 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  font-family: 'Segoe UI', sans-serif;
}
.profile-title h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #0a0a0a;
}
.profile-data strong {
  color: #1b4332;
  min-width: 120px;  
}
.profile-field {
  margin: 10px 0;
  gap:30px;
  font-size: 14px;
  display: flex;
  /* justify-content: space-between; */
}
.fade {
  transition: opacity 0.5s ease-in-out,transform 0.5s ease-in-out;
  opacity: 0;
  position:relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.fade p {
  font-size: 18px;
  color: #333;
  text-align: center;
  margin-top: 50px;
}
.fade.visible {
  opacity: 1;
}
.fade.hidden {
  opacity: 0;
  pointer-events: none;
}
.Books-container {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  background: #ffffff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
}
table th {
  background-color: #7187a0;
  color: white;
  text-align: left;
  padding: 12px;
  font-size: 16px;
}
table td {
  padding: 12px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 15px;
}
table tr:hover {
  background-color: #f1f7ff;
  transition: 0.2s ease-in-out;
}
table tr:last-child td {
  border-bottom: none;
}
p {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  color: #777;
}
/* Return */
.Return{
  background-color:#ced0d3;
  display: flex;
  height: 100vh;
  flex-direction: column;
  font-family: Georgia, 'Times New Roman', Times, serif;
  align-items: center;
  /* justify-content: center; */
}
.Return h2{
  margin-top: 50px;
  font-size: 30px;
}
.Return input{
  height: 30px;
  width:400px;
  padding-left: 10px;
  border-radius: 10px;
}
.radio-buttons input{
  margin-left: 0;
  padding-left: 0;

}
.Return button{
  margin-top: 25px;
  width: 120px;
  height: 30px;
  border-radius: 10px;
}
.Return button:hover{
  background-color: #1b4332;
}

/* Borrow */
.Borrow{
  background-color:#ced0d3;
  display: flex;
  height: 100vh;
  flex-direction: column;
  flex-grow: 1;
  font-family: Georgia, 'Times New Roman', Times, serif;
  align-items: center;
}
.Borrow h2{
  margin-top: 0px;
  font-size: 30px;
}
.Borrow input{
  height: 30px;
  width:400px;
  padding-left: 10px;
  border-radius: 10px;
}
.Borrow button{
  margin-top: 25px;
  width: 120px;
  height: 30px;
  border-radius: 10px;
}
.Borrow button:hover{
  background-color: #1b4332;
}
/* Search */
.Search{
  display: flex;
}
.Search input{
box-shadow: 0 2px 0px black;
border-radius: 10px;
height: 30px;
width: 65%;
margin-left: 120px;
margin-top: 60px;
margin-bottom: 20px;
align-items: center;
padding-left: 15px;
}

/* Admin Dashboard */
.dashboard-container {
  display: flex;
  height: 100vh;
  background: #d1d9e4;
  font-family: "Inter", sans-serif;
}
.sidebar h2{
  padding-top: 0px;
  /* text-align: center; */
}
.sidebar h1{
  width: 100px;
  color:rgb(20, 20, 20);
  font-style: italic;
}
.sidebar {
  width: 240px;
  height: auto;
  background: #aeaeb9;
  color: rgb(15, 15, 15);
  padding: 20px;
  flex-grow: 0;
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 10px;
}

.sidebar button {
  background: #b3dbb5;
  border: none;
  padding: 10px;
  border-radius: 6px;
  color: rgb(8, 8, 8);
  cursor: pointer;
}

.sidebar button:hover {
  background: #abe2ab;
}

.main-content {
  flex: 1;
  padding: 30px;
  text-align: center;
}
.main-content img{
  height: 20px;
  width: 100px;
  margin-left: 900px;
}
.main-area img{
  height: 20px;
  width: 100px;
  margin-left: 950px;
  margin-top: 10px;
}
.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
/* Search-student */
.search-student{
  display: flex;
  align-items: center;
}
.search-student input{
 width:600px;
 border-radius: 12px;
 height: 30px;
 margin-left: 20%;
}
.search-student input::placeholder{
  text-align: center;
}
.Create-profile{
  display: flex;
  margin-top: 40px;
  /* width: 800px; */
  height: 430px;
  flex-direction: column;
  gap: 15px;
  margin-left: 50px;
}
.Create-profile label{
 font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 18px; 
  width: 100px;
  text-align:start;
  padding-left: 100px;
}
.Create-profile input,.dropdown{
  width: 500px;
  height: 30px;
  border-radius: 10px;
  padding-left: 10px;
}

.Create-profile button{
  width:120px;
  height: 30px;
  border-radius: 10px;
  margin-left: 300px;
  margin-top: 5px;
}
.Create-profile button:hover{
background-color: #1b4332;
}
.create h2{
  display: flex;
  text-align: center;
  margin-left: 200px;
  margin-top: 25px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 28px;
}
.message-box {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 200px;
  border-radius: 6px;
  text-align: center;
  font-weight: 600;
  width:300px;
}
.message-box.success {
  /* background-color: #e8ffe8; */
  color: #276749;
  border: 1px solid #48c774;
}

.message-box.error {
  /* background-color: #ffe8e8; */
  color: #842029;
  border: 0px solid #f5c2c7;
}
.Update{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
}
.Update button{
  width:100px;
  height: 30px;
  border-radius: 10px;
}
.Update p{
  text-align: center;
  padding-bottom: 0px;
}
.Update input{
  width: 300px;
  height: 30px;
  border-radius: 10px;
  padding-left: 10px;
}

.Update-profile{
  display: flex;
  margin-top: 5px;
  /* width: 800px; */
  height: 400px;
  flex-direction: column;
  gap: 15px;
  margin-left: 150px;
}
.Update-profile label{
 font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 18px; 
  width: 100px;
  text-align:start;
  padding-left: 100px;
}
.Update-profile input,.dropdown{
  width: 500px;
  height: 30px;
  border-radius: 10px;
  padding-left: 10px;
}

.Update-profile button{
  width:120px;
  height: 30px;
  border-radius: 10px;
  margin-top: 5px;
}
.Update-profile button:hover{
background-color: #1b4332;
}
.button-group {
  display: flex;             
  gap: 15px;                 
  /* justify-content: center; */
  margin-top: 0px;
  margin-left: 220px;
}
.Update h2{
  text-align: center;
  margin-left: 00px;
  margin-top: 5px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 28px;
}
.Update-profile label input,
.Update-profile label select{
margin-left: 0px;
}
.items{
  display: flex;
  flex-direction: column;
  /* justify-content:center; */
  align-items:center;
  margin-top: 20px;
  width: 350px;
  height: 200px;
 border: 1px rgb(12, 12, 12);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgb(12, 12, 12);
}
.Delete{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.items input{
  width: 250px;
  height: 30px;
  border-radius: 12px;
  padding-left: 10px;
  padding-top: 2px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.items button{
  width:100px;
  height: 30px;
  border-radius: 12px;
}
.items button:hover{
  background-color: #1b4332;
}
.Delete h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 32px;
  margin-top: 40px;
}
.AddBook{
  display: flex;
  margin-top: 40px;
  /* width: 800px; */
  height: 400px;
  flex-direction: column;
  gap: 15px;
  margin-left: 50px;
}
.AddBook label{
 font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 18px; 
  width: 300px;
  text-align:start;
  padding-left: 100px;
}
.AddBook input,.dropdown{
  width: 500px;
  height: 30px;
  border-radius: 10px;
  padding-left: 10px;
}

.AddBook button{
  width:120px;
  height: 30px;
  border-radius: 10px;
 margin-left: 300px;
 margin-top: 5px;
}
.AddBook button:hover{
background-color: #1b4332;
}
.AddBook h2{
  display: flex;
  text-align: center;
  margin-left: 200px;
  margin-top: 25px;
  margin-bottom: 30px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 28px;
}
.search-book input{
  width:600px;
  height: 30px;
  border-radius: 10px;
  padding-left: 10px;
}